<div id="navbar1" class="app-navbar horizontal">
  <div class="navbar-wrap">
    <button class="no-style navbar-toggle navbar-open d-lg-none">
      <span></span><span></span><span></span>
    </button>
    <form class="app-search d-none d-md-block">
      <div class="form-group typeahead__container with-suffix-icon mb-0">
        <div class="typeahead__field">
          <div class="typeahead__query">
                  <span class="typeahead__cancel-button">×</span
                  ><input
            class="form-control autocomplete-control topbar-search"
            type="search"
            placeholder="Type page's title"
            autocomplete="off"
            data-source="/assets/data/search-menu.json"
            style="  background: #ebebeb;
  border: 1px solid #ebebeb;
  border-radius: 20px;
  color:#1f2022;
  display: block;
  font-size: 1rem;
  height: auto;
  line-height: 1.43;
  outline: none;
  padding: calc(.71429rem - 1px) 1.42857rem;
  transition:background .2s ease-in-out,border .2s ease-in-out,box-shadow .2s ease-in-out,color .2s ease-in-out;
  will-change: background,border,box-shadow,color;
  width: 100%;
"
          />
            <div class="suffix-icon icofont-search"></div>
          </div>
        </div>
      </div>
    </form>
    <div class="app-actions">
      <div class="dropdown item">
        <button
          class="no-style dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          data-bs-offset="0, 12"
        >
          <span class="icon icofont-notification"></span>
          <span class="badge badge-danger badge-sm">5</span>
        </button>
        <div
          class="dropdown-menu dropdown-menu-right dropdown-menu-w-280"
        >
          <div class="menu-header">
            <h4 class="h5 menu-title mt-0 mb-0">Notifications</h4>
            <a href="index.html#" class="text-danger">Clear All</a>
          </div>
          <ul class="list">
            <li>
              <a href="index.html#"
              ><span class="icon icofont-heart"></span>
                <div class="content">
                  <span class="desc">Sara Crouch liked your photo</span>
                  <span class="date">17 minutes ago</span>
                </div></a
              >
            </li>
            <li>
              <a href="index.html#"
              ><span class="icon icofont-users-alt-6"></span>
                <div class="content">
                  <span class="desc">New user registered</span>
                  <span class="date">23 minutes ago</span>
                </div></a
              >
            </li>
            <li>
              <a href="index.html#"
              ><span class="icon icofont-share"></span>
                <div class="content">
                  <span class="desc">Amanda Lie shared your post</span>
                  <span class="date">25 minutes ago</span>
                </div></a
              >
            </li>
            <li>
              <a href="index.html#"
              ><span class="icon icofont-users-alt-6"></span>
                <div class="content">
                  <span class="desc">New user registered</span>
                  <span class="date">32 minutes ago</span>
                </div></a
              >
            </li>
            <li>
              <a href="index.html#"
              ><span class="icon icofont-ui-message"></span>
                <div class="content">
                  <span class="desc">You have a new message</span>
                  <span class="date">58 minutes ago</span>
                </div></a
              >
            </li>
          </ul>
          <div class="menu-footer">
            <button class="btn btn-primary w-100">
              View all notifications
              <span class="btn-icon ms-2 icofont-tasks-alt"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="dropdown item">
        <button
          class="no-style dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          data-bs-offset="0, 10"
        >
                <span class="d-flex align-items-center"
                ><img
                  src="/assets/content/user-400-1.jpg"
                  alt=""
                  width="40"
                  height="40"
                  class="rounded-500 me-1" />
                  <i class="icofont-simple-down"></i
                  ></span>
        </button>
        <div
          class="dropdown-menu dropdown-menu-right dropdown-menu-w-180"
          style=""
        >
          <ul class="list">
            <li>
              <a routerLink="/EditAccount" (click)="navigateToEditAccount()" class="align-items-center"
              ><span class="icon icofont-ui-home"></span> Edit
                account</a
              >
            </li>
            <li>
              <a href="user-profile.html" class="align-items-center"
              ><span class="icon icofont-ui-user"></span> User
                profile</a
              >
            </li>
            <li>
              <a href="index.html#" class="align-items-center"
              ><span class="icon icofont-ui-calendar"></span>
                Calendar</a
              >
            </li>
            <li>
              <a href="index.html#" class="align-items-center"
              ><span class="icon icofont-ui-settings"></span>
                Settings</a
              >
            </li>
            <li>
              <a (click)="logout()" class="align-items-center" 
              ><span class="icon icofont-logout"></span> Log Out</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="navbar-skeleton horizontal">
      <div class="left-part d-flex align-items-center">
        <span class="navbar-button bg animated-bg d-lg-none"></span>
        <span class="sk-logo bg animated-bg d-none d-lg-block"></span>
        <span class="search d-none d-md-block bg animated-bg"></span>
      </div>
      <div class="right-part d-flex align-items-center">
        <div class="icon-box">
          <span class="icon bg animated-bg"></span>
          <span class="badge"></span>
        </div>
        <span class="avatar bg animated-bg"></span>
      </div>
    </div>
  </div>
</div>
