<div class="main-content-wrap">
  <header class="page-header">
    <h1 class="page-title" style="text-align: center;">Appointments</h1>
  </header>
  <!--MESSAGE ALERT-->
  <div *ngIf="msgAdded" class="alert alert-success" role="alert"
    style="text-align: center; color : white ; font-weight: bold;">
    Appointement {{msgEdit ? 'Updated' : 'Added'}} successfully.
  </div>
  <div class="page-content">
    <div class="card mb-0" style="border: none;">
      <div class="card-body">
        <!--TABLE-->
        <input style="margin-bottom: 20px; width: 50%;" type="text" name="serch" (keyup)="recherche($event)" class="form-control" placeholder="recherche ...">
        <div class="table-responsive">

          <table class="table table-hover">
            <thead class="table table-dark">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Request date</th>
                <th scope="col">Visit time</th>
                <th scope="col">Number</th>
                <th scope="col">Doctor</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of RVliste">
               
                <td><strong>{{item.firstName}} {{item.lastName}}</strong></td>
                <td>
                  <div class="d-flex align-items-center nowrap text-primary">
                    <span class="icofont-ui-email p-0 me-2"></span>
                    {{item.email}}
                  </div>
                </td>
                <td>
                  <div class="text-muted text-nowrap">{{item.requestDate}}</div>
                </td>
                <td>
                  <div class="text-muted text-nowrap">{{item.appointmentDate}}</div>
                </td>
                <td></td>
                <div class="text-muted text-nowrap">{{item.phoneNumber}}</div>
                <td  style=" font-weight: bold;">{{item.status}}</td>
                <td>
                  <div class="actions">
                    <button class="btn btn-info btn-sm btn-square rounded-pill" (click)="editDialog(item)"
                      data-bs-toggle="modal" data-bs-target="#add-appointment">
                      <span class="btn-icon icofont-ui-edit"></span>
                    </button>
                    <button class="btn btn-danger btn-sm btn-square rounded-pill" (click)="changeStatus(item)"
                      data-bs-toggle="modal" data-bs-target="#add-appointment" data-bs-toggle="modal" data-bs-target="#change-appointment">
                      <span class="btn-icon icofont-ui-settings"></span>
                    </button>
                    <button class="btn btn-error btn-sm btn-square rounded-pill" (click)="deleteAppointe(item)">
                      <span class="btn-icon icofont-ui-edit"></span>
                    </button>
                  </div>
                </td>

              </tr>

            </tbody>
          </table>
        </div>
        <!--PAGINATION-->
        <nav class="mt-4">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="" aria-label="Previous" style="border-radius: 50%;"
                tabindex="-1" aria-disabled="true"><span class="icofont-simple-left"></span></a>
            </li>
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="" aria-label="Next" style="border-radius: 50%;"><span
                  class="icofont-simple-right"></span></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!--BUTTON , FIX BUTTON AJOUT AVEC L ICON + -->
    <div class="add-action-box">
      <button class="btn btn-primary btn-lg btn-square rounded-pill" data-bs-toggle="modal"
        data-bs-target="#add-appointment">
        <span class="btn-icon icofont-plus"></span>
      </button>
    </div>
    <!--DIALOG POUR ADD ET EDIT SELON LA CONDITION 'this.edit'-->
    <div class="modal fade" id="add-appointment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel" *ngIf="!edit">Add appointment</h1>
            <h1 class="modal-title fs-5" id="exampleModalLabel" *ngIf="edit">Edit appointment</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-12">
                <label>Request date</label>
                <input type="datetime-local" class="form-control" name="requestDate" [(ngModel)]="appoint.requestDate">
              </div>
              <div class="col-12">
                <label>Appointment date</label>
                <input type="datetime-local" class="form-control" name="appointmentDate" [(ngModel)]="appoint.appointmentDate">
              </div>





              <div class="col-12">
                <label>Email</label>
                <input type="email" class="form-control" name="email" [(ngModel)]="appoint.email">
              </div>



            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addAppoint()">{{edit ? 'Edit'
              : 'Save'}} </button>

          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="change-appointment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel" >Change status</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              


<!--MOT-->

              <div class="col-12">
                <label>Status</label>
                <select class="form-select" [(ngModel)]="statusSelect" aria-label="Default select example">
                  <option value="PENDING">PENDING</option>
                  <option value="APPROVED">APPROVED</option>
                  <option value="REJECTED">REJECTED</option>
                  <option value="COMPLETED">COMPLETED</option>
                  <option value="URGENT">URGENT</option>
                </select>
              </div>

         
              

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="postStatus()" >Save</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>