<p>login works!<div class="page-box">
  <div class="app-container page-sign-in">
    <div class="content-box">
      <div class="content-header">
        <div class="app-logo">
          <div class="logo-wrap">
            <img
              src="/assets/img/logo.svg"
              alt=""
              width="147"
              height="33"
              class="logo-img"
            />
          </div>
        </div>
      </div>
      <div class="content-body">
        <div class="w-100">
          <h2 class="h4 mt-0 mb-1">Sign in</h2>
          <p class="text-muted">Sign in to access your Account</p>
          <form>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Login" />
            </div>
            <div class="form-group">
              <input
                class="form-control"
                type="password"
                placeholder="Password"
              />
            </div>
            <div class="form-check form-switch mb-4">
              <input
                type="checkbox"
                class="form-check-input"
                id="remember-me"
                checked="checked"
              />
              <label class="form-check-label" for="remember-me"
              >Remember me</label
              >
            </div>
            <div class="actions justify-content-between">
              <button class="btn btn-primary">
                <span class="btn-icon icofont-login me-2"></span>Sign in
              </button>
            </div>
          </form>
          <p class="mt-5 mb-1">
            <a href="sign-in.html#">Forgot password?</a>
          </p>
          <p>Don't have an account? <a href="sign-up.html">Sign up!</a></p>
        </div>
      </div>
    </div>
  </div>
</div>


