
<!-- <router-outlet></router-outlet> -->
<!-- <head>
  <meta charset="UTF-8">
  <title>Login</title>
  <meta name="keywords" content="MedicApp" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="shortcut icon" href="/assets/img/favicon.ico" />
  <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.css" />
  <link rel="stylesheet" href="/assets/css/icofont.min.css" />
  <link rel="stylesheet" href="/assets/css/simple-line-icons.css" />
  <link rel="stylesheet" href="/assets/css/jquery.typeahead.css" />
  <link rel="stylesheet" href="/assets/css/datatables.min.css" />
  <link rel="stylesheet" href="/assets/css/bootstrap-select.min.css" />
  <link rel="stylesheet" href="/assets/css/Chart.min.css" />
  <link rel="stylesheet" href="/assets/css/morris.css" />
  <link rel="stylesheet" href="/assets/css/leaflet.css" />
  <link rel="stylesheet" href="/assets/css/style.css" />
</head> -->
<body class="vertical-layout boxed loaded" >
  <div class="app-loader main-loader">
    <div class="loader-box">
      <div class="bounceball"></div>
      <div class="text">Medic<span>app</span></div>
    </div>
  </div>
  <!-- .main-loader -->
  <div class="page-box"  >
    <div class="app-container" [ngStyle]="{padding:openSideBar  ? '0 0 0 17.1428571429rem' : '0 0 0 50px' }"   >
      <!-- Horizontal navbar -->
      <app-header ></app-header>
      <!-- end Horizontal navbar --><!-- Vertical navbar -->
      <app-sidebar (isSidebarOpenChange)="openSideBar = $event"></app-sidebar>
      <!-- end Vertical navbar -->
      <main class="main-content">
        <div class="app-loader">
          <i class="icofont-spinner-alt-4 rotate"></i>
        </div>
        <div class="main-content-wrap">

          <div class="page-content" *ngIf="showContent">
            <router-outlet></router-outlet>
          </div>
        </div>
      </main>
    </div>
  </div>
</body>


