<!--<header class="page-header"><h1 class="page-title">Departments</h1></header>-->
<!--<div class="page-content">-->
<!--  <div class="row">-->
<!--    <div class="col-12 col-md-4">-->
<!--      <div class="card department bg-light bg-gradient">-->
<!--        <img-->
<!--          src="../assets/content/department-1.jpg"-->
<!--          class="card-img-top"-->
<!--          width="400"-->
<!--          height="250"-->
<!--          alt=""-->
<!--        />-->
<!--        <div class="card-body">-->
<!--          <h3 class="h4 mt-0">Cardiology</h3>-->
<!--          <div class="team d-flex align-items-center mb-4">-->
<!--            <strong class="me-3">Team:</strong>-->
<!--            <img-->
<!--              src="../assets/content/doctor-400-1.jpg"-->
<!--              width="40"-->
<!--              height="40"-->
<!--              alt=""-->
<!--              class="team-img rounded-500"-->
<!--            />-->
<!--            <img-->
<!--              src="../assets/content/doctor-400-2.jpg"-->
<!--              width="40"-->
<!--              height="40"-->
<!--              alt=""-->
<!--              class="team-img rounded-500"-->
<!--            />-->
<!--            <img-->
<!--              src="../assets/content/doctor-400-3.jpg"-->
<!--              width="40"-->
<!--              height="40"-->
<!--              alt=""-->
<!--              class="team-img rounded-500"-->
<!--            />-->
<!--            <button-->
<!--              class="btn btn-primary btn-square rounded-pill"-->
<!--              type="button"-->
<!--            >-->
<!--              <span class="btn-icon icofont-plus"></span>-->
<!--            </button>-->
<!--          </div>-->
<!--          <p>-->
<!--            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio-->
<!--            dolore enim, nemo nihil non omnis temporibus? Blanditiis culpa-->
<!--            labore velit.-->
<!--          </p>-->
<!--          <div class="button-box pb-2">-->
<!--            <button type="button" class="btn btn-outline-primary">-->
<!--              More<span class="btn-icon icofont-prescription ms-2"></span>-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-12 col-md-4">-->
<!--      <div class="card department bg-light bg-gradient">-->
<!--        <img-->
<!--          src="../assets/content/department-2.jpg"-->
<!--          class="card-img-top"-->
<!--          width="400"-->
<!--          height="250"-->
<!--          alt=""-->
<!--        />-->
<!--        <div class="card-body">-->
<!--          <h3 class="h4 mt-0">Dentistry</h3>-->
<!--          <div class="team d-flex align-items-center mb-4">-->
<!--            <strong class="me-3">Team:</strong>-->
<!--            <img-->
<!--              src="../assets/content/doctor-400-4.jpg"-->
<!--              width="40"-->
<!--              height="40"-->
<!--              alt=""-->
<!--              class="team-img rounded-500"-->
<!--            />-->
<!--            <img-->
<!--              src="../assets/content/doctor-400-2.jpg"-->
<!--              width="40"-->
<!--              height="40"-->
<!--              alt=""-->
<!--              class="team-img rounded-500"-->
<!--            />-->
<!--            <img-->
<!--              src="../assets/content/doctor-400-3.jpg"-->
<!--              width="40"-->
<!--              height="40"-->
<!--              alt=""-->
<!--              class="team-img rounded-500"-->
<!--            />-->
<!--            <img-->
<!--              src="../assets/content/doctor-400-5.jpg"-->
<!--              width="40"-->
<!--              height="40"-->
<!--              alt=""-->
<!--              class="team-img rounded-500"-->
<!--            />-->
<!--            <button-->
<!--              class="btn btn-primary btn-square rounded-pill"-->
<!--              type="button"-->
<!--            >-->
<!--              <span class="btn-icon icofont-plus"></span>-->
<!--            </button>-->
<!--          </div>-->
<!--          <p>-->
<!--            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio-->
<!--            dolore enim, nemo nihil non omnis temporibus? Blanditiis culpa-->
<!--            labore velit.-->
<!--          </p>-->
<!--          <div class="button-box pb-2">-->
<!--            <button type="button" class="btn btn-outline-primary">-->
<!--              More<span class="btn-icon icofont-prescription ms-2"></span>-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-12 col-md-4">-->
<!--      <div class="card department bg-light bg-gradient">-->
<!--        <img-->
<!--          src="../assets/content/department-3.jpg"-->
<!--          class="card-img-top"-->
<!--          width="400"-->
<!--          height="250"-->
<!--          alt=""-->
<!--        />-->
<!--        <div class="card-body">-->
<!--          <h3 class="h4 mt-0">Laboratory</h3>-->
<!--          <div class="team d-flex align-items-center mb-4">-->
<!--            <strong class="me-3">Team:</strong>-->
<!--            <img-->
<!--              src="../assets/content/doctor-400-6.jpg"-->
<!--              width="40"-->
<!--              height="40"-->
<!--              alt=""-->
<!--              class="team-img rounded-500"-->
<!--            />-->
<!--            <img-->
<!--              src="../assets/content/doctor-400-7.jpg"-->
<!--              width="40"-->
<!--              height="40"-->
<!--              alt=""-->
<!--              class="team-img rounded-500"-->
<!--            />-->
<!--            <button-->
<!--              class="btn btn-primary btn-square rounded-pill"-->
<!--              type="button"-->
<!--            >-->
<!--              <span class="btn-icon icofont-plus"></span>-->
<!--            </button>-->
<!--          </div>-->
<!--          <p>-->
<!--            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio-->
<!--            dolore enim, nemo nihil non omnis temporibus? Blanditiis culpa-->
<!--            labore velit.-->
<!--          </p>-->
<!--          <div class="button-box pb-2">-->
<!--            <button type="button" class="btn btn-outline-primary">-->
<!--              More<span class="btn-icon icofont-prescription ms-2"></span>-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-12 col-md-4">-->
<!--      <div class="card department bg-light bg-gradient">-->
<!--        <img-->
<!--          src="../assets/content/department-4.jpg"-->
<!--          class="card-img-top"-->
<!--          width="400"-->
<!--          height="250"-->
<!--          alt=""-->
<!--        />-->
<!--        <div class="card-body">-->
<!--          <h3 class="h4 mt-0">Pulmonology</h3>-->
<!--          <div class="team d-flex align-items-center mb-4">-->
<!--            <strong class="me-3">Team:</strong>-->
<!--            <img-->
<!--              src="../assets/content/doctor-400-5.jpg"-->
<!--              width="40"-->
<!--              height="40"-->
<!--              alt=""-->
<!--              class="team-img rounded-500"-->
<!--            />-->
<!--            <img-->
<!--              src="../assets/content/doctor-400-6.jpg"-->
<!--              width="40"-->
<!--              height="40"-->
<!--              alt=""-->
<!--              class="team-img rounded-500"-->
<!--            />-->
<!--            <img-->
<!--              src="../assets/content/doctor-400-7.jpg"-->
<!--              width="40"-->
<!--              height="40"-->
<!--              alt=""-->
<!--              class="team-img rounded-500"-->
<!--            />-->
<!--            <img-->
<!--              src="../assets/content/doctor-400-9.jpg"-->
<!--              width="40"-->
<!--              height="40"-->
<!--              alt=""-->
<!--              class="team-img rounded-500"-->
<!--            />-->
<!--            <img-->
<!--              src="../assets/content/doctor-400-8.jpg"-->
<!--              width="40"-->
<!--              height="40"-->
<!--              alt=""-->
<!--              class="team-img rounded-500"-->
<!--            />-->
<!--            <button-->
<!--              class="btn btn-primary btn-square rounded-pill"-->
<!--              type="button"-->
<!--            >-->
<!--              <span class="btn-icon icofont-plus"></span>-->
<!--            </button>-->
<!--          </div>-->
<!--          <p>-->
<!--            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio-->
<!--            dolore enim, nemo nihil non omnis temporibus? Blanditiis culpa-->
<!--            labore velit.-->
<!--          </p>-->
<!--          <div class="button-box pb-2">-->
<!--            <button type="button" class="btn btn-outline-primary">-->
<!--              More<span class="btn-icon icofont-prescription ms-2"></span>-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-12 col-md-4">-->
<!--      <div class="card department bg-light bg-gradient">-->
<!--        <img-->
<!--          src="../assets/content/department-5.jpg"-->
<!--          class="card-img-top"-->
<!--          width="400"-->
<!--          height="250"-->
<!--          alt=""-->
<!--        />-->
<!--        <div class="card-body">-->
<!--          <h3 class="h4 mt-0">Gynecology</h3>-->
<!--          <div class="team d-flex align-items-center mb-4">-->
<!--            <strong class="me-3">Team:</strong>-->
<!--            <img-->
<!--              src="../assets/content/doctor-400-5.jpg"-->
<!--              width="40"-->
<!--              height="40"-->
<!--              alt=""-->
<!--              class="team-img rounded-500"-->
<!--            />-->
<!--            <img-->
<!--              src="../assets/content/doctor-400-6.jpg"-->
<!--              width="40"-->
<!--              height="40"-->
<!--              alt=""-->
<!--              class="team-img rounded-500"-->
<!--            />-->
<!--            <img-->
<!--              src="../assets/content/doctor-400-7.jpg"-->
<!--              width="40"-->
<!--              height="40"-->
<!--              alt=""-->
<!--              class="team-img rounded-500"-->
<!--            />-->
<!--            <button-->
<!--              class="btn btn-primary btn-square rounded-pill"-->
<!--              type="button"-->
<!--            >-->
<!--              <span class="btn-icon icofont-plus"></span>-->
<!--            </button>-->
<!--          </div>-->
<!--          <p>-->
<!--            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio-->
<!--            dolore enim, nemo nihil non omnis temporibus? Blanditiis culpa-->
<!--            labore velit.-->
<!--          </p>-->
<!--          <div class="button-box pb-2">-->
<!--            <button type="button" class="btn btn-outline-primary">-->
<!--              More<span class="btn-icon icofont-prescription ms-2"></span>-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-12 col-md-4">-->
<!--      <div class="card department bg-light bg-gradient">-->
<!--        <img-->
<!--          src="../assets/content/department-6.jpg"-->
<!--          class="card-img-top"-->
<!--          width="400"-->
<!--          height="250"-->
<!--          alt=""-->
<!--        />-->
<!--        <div class="card-body">-->
<!--          <h3 class="h4 mt-0">Gastrology</h3>-->
<!--          <div class="team d-flex align-items-center mb-4">-->
<!--            <strong class="me-3">Team:</strong>-->
<!--            <img-->
<!--              src="../assets/content/doctor-400-8.jpg"-->
<!--              width="40"-->
<!--              height="40"-->
<!--              alt=""-->
<!--              class="team-img rounded-500"-->
<!--            />-->
<!--            <img-->
<!--              src="../assets/content/doctor-400-7.jpg"-->
<!--              width="40"-->
<!--              height="40"-->
<!--              alt=""-->
<!--              class="team-img rounded-500"-->
<!--            />-->
<!--            <button-->
<!--              class="btn btn-primary btn-square rounded-pill"-->
<!--              type="button"-->
<!--            >-->
<!--              <span class="btn-icon icofont-plus"></span>-->
<!--            </button>-->
<!--          </div>-->
<!--          <p>-->
<!--            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio-->
<!--            dolore enim, nemo nihil non omnis temporibus? Blanditiis culpa-->
<!--            labore velit.-->
<!--          </p>-->
<!--          <div class="button-box pb-2">-->
<!--            <button type="button" class="btn btn-outline-primary">-->
<!--              More<span class="btn-icon icofont-prescription ms-2"></span>-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-12 col-md-4">-->
<!--      <div class="card department bg-light bg-gradient mb-md-0">-->
<!--        <img-->
<!--          src="../assets/content/department-7.jpg"-->
<!--          class="card-img-top"-->
<!--          width="400"-->
<!--          height="250"-->
<!--          alt=""-->
<!--        />-->
<!--        <div class="card-body">-->
<!--          <h3 class="h4 mt-0">Neurology</h3>-->
<!--          <div class="team d-flex align-items-center mb-4">-->
<!--            <strong class="me-3">Team:</strong>-->
<!--            <img-->
<!--              src="../assets/content/doctor-400-5.jpg"-->
<!--              width="40"-->
<!--              height="40"-->
<!--              alt=""-->
<!--              class="team-img rounded-500"-->
<!--            />-->
<!--            <img-->
<!--              src="../assets/content/doctor-400-7.jpg"-->
<!--              width="40"-->
<!--              height="40"-->
<!--              alt=""-->
<!--              class="team-img rounded-500"-->
<!--            />-->
<!--            <img-->
<!--              src="../assets/content/doctor-400-9.jpg"-->
<!--              width="40"-->
<!--              height="40"-->
<!--              alt=""-->
<!--              class="team-img rounded-500"-->
<!--            />-->
<!--            <button-->
<!--              class="btn btn-primary btn-square rounded-pill"-->
<!--              type="button"-->
<!--            >-->
<!--              <span class="btn-icon icofont-plus"></span>-->
<!--            </button>-->
<!--          </div>-->
<!--          <p>-->
<!--            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio-->
<!--            dolore enim, nemo nihil non omnis temporibus? Blanditiis culpa-->
<!--            labore velit.-->
<!--          </p>-->
<!--          <div class="button-box pb-2">-->
<!--            <button type="button" class="btn btn-outline-primary">-->
<!--              More<span class="btn-icon icofont-prescription ms-2"></span>-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-12 col-md-4">-->
<!--      <div class="card department bg-light bg-gradient mb-md-0">-->
<!--        <img-->
<!--          src="../assets/content/department-8.jpg"-->
<!--          class="card-img-top"-->
<!--          width="400"-->
<!--          height="250"-->
<!--          alt=""-->
<!--        />-->
<!--        <div class="card-body">-->
<!--          <h3 class="h4 mt-0">Physical rehabilitation</h3>-->
<!--          <div class="team d-flex align-items-center mb-4">-->
<!--            <strong class="me-3">Team:</strong>-->
<!--            <img-->
<!--              src="http://medic-app-html.type-code.pro/assets/content/doctor-400-10.jpg"-->
<!--              width="40"-->
<!--              height="40"-->
<!--              alt=""-->
<!--              class="team-img rounded-500"-->
<!--            />-->
<!--            <img-->
<!--              src="../assets/content/doctor-400-8.jpg"-->
<!--              width="40"-->
<!--              height="40"-->
<!--              alt=""-->
<!--              class="team-img rounded-500"-->
<!--            />-->
<!--            <img-->
<!--              src="../assets/content/doctor-400-6.jpg"-->
<!--              width="40"-->
<!--              height="40"-->
<!--              alt=""-->
<!--              class="team-img rounded-500"-->
<!--            />-->
<!--            <button-->
<!--              class="btn btn-primary btn-square rounded-pill"-->
<!--              type="button"-->
<!--            >-->
<!--              <span class="btn-icon icofont-plus"></span>-->
<!--            </button>-->
<!--          </div>-->
<!--          <p>-->
<!--            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio-->
<!--            dolore enim, nemo nihil non omnis temporibus? Blanditiis culpa-->
<!--            labore velit.-->
<!--          </p>-->
<!--          <div class="button-box pb-2">-->
<!--            <button type="button" class="btn btn-outline-primary">-->
<!--              More<span class="btn-icon icofont-prescription ms-2"></span>-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-12 col-md-4">-->
<!--      <div class="card department bg-light bg-gradient mb-0">-->
<!--        <img-->
<!--          src="../assets/content/department-9.jpg"-->
<!--          class="card-img-top"-->
<!--          width="400"-->
<!--          height="250"-->
<!--          alt=""-->
<!--        />-->
<!--        <div class="card-body">-->
<!--          <h3 class="h4 mt-0">Pediatrician</h3>-->
<!--          <div class="team d-flex align-items-center mb-4">-->
<!--            <strong class="me-3">Team:</strong>-->
<!--            <img-->
<!--              src="../assets/content/doctor-400-5.jpg"-->
<!--              width="40"-->
<!--              height="40"-->
<!--              alt=""-->
<!--              class="team-img rounded-500"-->
<!--            />-->
<!--            <img-->
<!--              src="../assets/content/doctor-400-3.jpg"-->
<!--              width="40"-->
<!--              height="40"-->
<!--              alt=""-->
<!--              class="team-img rounded-500"-->
<!--            />-->
<!--            <button-->
<!--              class="btn btn-primary btn-square rounded-pill"-->
<!--              type="button"-->
<!--            >-->
<!--              <span class="btn-icon icofont-plus"></span>-->
<!--            </button>-->
<!--          </div>-->
<!--          <p>-->
<!--            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio-->
<!--            dolore enim, nemo nihil non omnis temporibus? Blanditiis culpa-->
<!--            labore velit.-->
<!--          </p>-->
<!--          <div class="button-box pb-2">-->
<!--            <button type="button" class="btn btn-outline-primary">-->
<!--              More<span class="btn-icon icofont-prescription ms-2"></span>-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="add-action-box">-->
<!--    <button-->
<!--      class="btn btn-primary btn-lg btn-square rounded-pill"-->
<!--      data-bs-toggle="modal"-->
<!--      data-bs-target="#add-department"-->
<!--    >-->
<!--      <span class="btn-icon icofont-plus"></span>-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->

<div>
   <div *ngIf="form">
    <form>

      <br>
      <button (click)="addProduct(training)">Add</button>
      <button (click)="cancel()">Cancel</button>
    </form>
  </div>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Duration</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of listProducts">
      <td>{{product.name}}</td>
      <td>{{product.period}}</td>

      <td>{{product.duration}}</td>
      <td>
        <button (click)="editProduct(product)">Edit</button>
        <button (click)="deleteProduct(product.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
