

<div class="container scrollable-container">
  <div *ngIf="!isSubmitted">

  <div class="row">
    <div class="col-md-6" *ngFor="let training of listTrainings">
      <div class="card">
        <img [src]="training.image" alt="Training Image" class="card-img-top">
        <div class="card-body">
          <a style="text-align: center;">
            <h5 class="card-title">{{training.name}}</h5>
            <p></p>
            <p class="card-text">Start Date: {{training.start_date}}</p>
            <p class="card-text">End Date: {{training.end_date}}</p>
            <p class="card-text">Cost: {{training.cost}}</p>
            <p class="card-text">Period: {{training.period}}</p>
          </a>
          <!--<div style="display: flex; justify-content: center; margin-top:-20px;">
            <button class="btn btn-primary btn-lg" (click)="editTraining(training)">Edit</button>
            <button class="btn btn-danger" (click)="deleteTraining(training.id)">Delete</button>
          </div>-->


          <button  (click)="getMoreDetails(training.id)">
            Show more details
          </button>
          <div >
            <button class="btn btn-info btn-sm btn-square rounded-pill"  (click)="editTraining(training)">
              <span class="btn-icon icofont-ui-edit"></span>
            </button>
            <button  class="btn btn-error btn-sm btn-square rounded-pill" (click)="deleteTraining(training.id)">
              <span class="btn-icon icofont-ui-delete"></span>
            </button>
          </div>


        </div>
      </div>
    </div>
  </div>



  <div *ngIf="!editFormVisible">
    <button (click)="showAddForm()">Add Training</button>
  </div>

  <div *ngIf="editFormVisible">
    <div class="overlay"></div>
    <div class="add-form">
      <form>
        <h2>Add New Training</h2>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="newTraining.name" [ngModelOptions]="{ standalone: true }">
        </div>
        <div class="form-group">
          <label for="start_date">Start Date</label>
          <input type="date" class="form-control" id="start_date" [(ngModel)]="newTraining.start_date" [ngModelOptions]="{ standalone: true }">
        </div>
        <div class="form-group">
          <label for="end_date">End Date</label>
          <input type="date" class="form-control" id="end_date" [(ngModel)]="newTraining.end_date" [ngModelOptions]="{ standalone: true }">
        </div>
        <div class="form-group">
          <label for="cost">Cost</label>
          <input type="text" class="form-control" id="cost" [(ngModel)]="newTraining.cost" [ngModelOptions]="{ standalone: true }">
        </div>

        <div style="display: flex; justify-content: center; margin-top:-20px;">
          <button class="btn btn-primary btn-lg" (click)="addTraining(newTraining)">Submit</button>
          <button class="btn  btn-close" (click)="hideAddForm()">Cancel</button>
        </div>
      </form>


    </div>

  </div>
</div>




<div *ngIf="isSubmitted">
  <div class="row">
    <div class="col-md-6">
      <select class="form-select" aria-label="Select Quizz" [(ngModel)]="selectedQuizz" (change)=" showQuizzDetails()">
        <option selected>Open this select menu</option>
        <option *ngFor="let quizz of listQuizzs" [ngValue]="quizz">{{ quizz.title }}</option>
      </select>
    </div>
  </div>
  
    <div *ngIf="selectedQuizz">
     
          <h3>Title : {{ selectedQuizz.title }}</h3>
          <p>Description : {{ selectedQuizz.description }}</p>
          <p>Training Name : {{ selectedQuizz.training_name }}</p>
          <h3>Questions :</h3>


          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">QUESTION</th>
                <th scope="col">proposition text:</th>
                <th scope="col">Correct or not</th>
                <th scope="col">Action</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let q of selectedQuizz.quest_quizs">
                <td>
                  <p style="font-size: larger;">{{ q.question }}</p>
                </td>
                <td>
                  <table>
                    <tbody>
                      <tr *ngFor="let p of q.propositions">
                        <td>
                          <p>{{ p.suggest }}</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td>
                  <table>
                    <tbody>
                      <tr *ngFor="let p of q.propositions">
                        <td>
                          <p>{{ p.is_correct_answer }}</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td>
                  <div >
                    <button class="btn btn-info btn-sm btn-square rounded-pill"  >
                      <span class="btn-icon icofont-ui-add"></span>
                    </button>
                    <button  class="btn btn-error btn-sm btn-square rounded-pill" >
                      <span class="btn-icon icofont-ui-delete"></span>
                    </button>
                  </div>
                </td>

              </tr>
              
              <!-- for adding question-->

              <tr >
                <td>
                  <input type="text" name="question" [(ngModel)]="newQuestion.question" [ngModelOptions]="{ standalone: true }" required>
                </td>
                <td>
                  <table>
                    <tbody>
                      <td>
                        <p><input type="text"   required></p>
                        <p><input type="text"  required></p>
                        <p><input type="text"   required></p>
                      </td>
                    </tbody>
                  </table>
                </td>
                <td>
                  <table>
                    <tbody>
                      <td>
                        <p><input type="text"   required></p>
                        <p><input type="text"  required></p>
                        <p><input type="text"  required></p>
                      
                      </td>
                    </tbody>
                  </table>
                </td>
                <td>
                  <div >
                    <button class="btn btn-info btn-sm btn-square rounded-pill"  >
                      <span class="btn-icon icofont-ui-add" (click)=" addAndAssignQuestionQuizz(selectedQuizz.id,newQuestion)"></span>
                    </button>
                    
                  </div>
                </td>

              </tr>

             



            </tbody>
          </table>
          

    </div>
  
  
   </div>
  





















<!--
  <div *ngIf="isSubmitted"  >
   
    <div class="row">
      <div class="col-md-6" *ngFor="let quizz of listQuizzs">
          <div class="card">
            <div class="card-body">
              <a style="text-align: center;">
                <h5 class="card-title">{{quizz.title}}</h5>
                <p></p>
                <p class="card-text">description: {{quizz.description}}</p>
                <p class="card-text">training_name: {{quizz.training_name}}</p>
                <p class="card-text">training_name: {{quizz.training_name}}</p>

              </a>
                 
            </div>
          </div>
        </div>
      </div>
</div>

-->


</div>
