<!-- <app-top-cards></app-top-cards>
<app-hospital-survey></app-hospital-survey>
<app-patients-details></app-patients-details> 
<app-last-appointements></app-last-appointements> -->

<body class="vertical-layout boxed loaded">
  <div class="app-loader main-loader">
    <div class="loader-box">
      <div class="bounceball"></div>
      <div class="text">Medic<span>app</span></div>
    </div>
  </div>
  <!-- .main-loader -->
  <div class="page-box">
    <div class="app-container" [ngStyle]="{padding:openSideBar  ? '0 0 0 17.1428571429rem' : '0 0 0 50px' }">
      <!-- Horizontal navbar -->
      <app-header></app-header>
      <!-- end Horizontal navbar -->
      <!-- Vertical navbar -->
      <app-sidebar (isSidebarOpenChange)="openSideBar = $event"></app-sidebar>
      <!-- end Vertical navbar -->
      <main class="main-content">
        <div class="app-loader">
          <i class="icofont-spinner-alt-4 rotate"></i>
        </div>
        <div class="main-content-wrap">

          <div class="page-content">
            <router-outlet></router-outlet>


          </div>


        </div>

      </main>

      <div class="content-overlay"></div>
    </div>
  </div>

</body>