.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: none;
}
.card-body,.col,.mt-0 {
  font-family: 'Lato',sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: bold;
  color: #1F2022;

}
