
    <div class="row">
      <div class="col col-12 col-md-6 col-xl-3">
        <div class="card animated fadeInUp delay-01s bg-light">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col col-5">
                <div
                  class="icon p-0 fs-48 text-primary opacity-50 icofont-first-aid-alt"
                ></div>
              </div>
              <div class="col col-7">
                <h6 class="mt-0 mb-1">Appointments</h6>
                <div class="count text-primary fs-20">213</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 col-xl-3">
        <div class="card animated fadeInUp delay-02s bg-light">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col col-5">
                <div
                  class="icon p-0 fs-48 text-primary opacity-50 icofont-wheelchair"
                ></div>
              </div>
              <div class="col col-7">
                <h6 class="mt-0 mb-1">New patients</h6>
                <div class="count text-primary fs-20">104</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 col-xl-3">
        <div class="card animated fadeInUp delay-03s bg-light">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col col-5">
                <div
                  class="icon p-0 fs-48 text-primary opacity-50 icofont-blood"
                ></div>
              </div>
              <div class="col col-7">
                <h6 class="mt-0 mb-1">Operations</h6>
                <div class="count text-primary fs-20">24</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-6 col-xl-3">
        <div class="card animated fadeInUp delay-04s bg-light">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col col-5">
                <div
                  class="icon p-0 fs-48 text-primary opacity-50 icofont-dollar-true"
                ></div>
              </div>
              <div class="col col-7">
                <h6 class="mt-0 mb-1 text-nowrap">Hospital Earning</h6>
                <div class="count text-primary fs-20">$5238</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

