 <!-- <div class="modal fade" id="add-patient" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add new patient</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group avatar-box d-flex"><img src="/assets/content/anonymous-400.jpg" width="40"
              height="40" alt="" class="rounded-500 me-4"> <button class="btn btn-outline-primary" type="button">Select
              image<span class="btn-icon icofont-ui-user ms-2"></span></button></div>
          <div class="form-group"><input class="form-control" type="text" placeholder="Name"></div>
          <div class="form-group"><input class="form-control" type="number" placeholder="Number"></div>
          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="form-group"><input class="form-control" type="number" placeholder="Age"></div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group">
                <div class="dropdown bootstrap-select"><select class="selectpicker" title="Gender">
                    <option class="bs-title-option" value=""></option>
                    <option class="d-none">Gender</option>
                    <option>Male</option>
                    <option>Female</option>
                  </select><button type="button" tabindex="-1" class="form-control dropdown-toggle bs-placeholder"
                    data-bs-toggle="dropdown" role="combobox" aria-owns="bs-select-1" aria-haspopup="listbox"
                    aria-expanded="false" title="Gender">
                    <div class="filter-option">
                      <div class="filter-option-inner">
                        <div class="filter-option-inner-inner">Gender</div>
                      </div>
                    </div>
                  </button>
                  <div class="dropdown-menu ">
                    <div class="inner show" role="listbox" id="bs-select-1" tabindex="-1">
                      <ul class="dropdown-menu inner show" role="presentation"></ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group mb-0"><textarea class="form-control" placeholder="Address" rows="3"></textarea></div>
        </form>
      </div>
      <div class="modal-footer d-block">
        <div class="actions justify-content-between"><button type="button" class="btn btn-error"
            data-bs-dismiss="modal">Cancel</button> <button type="button" class="btn btn-info">Add patient</button>
        </div>
      </div>
    </div>
  </div>
</div>  -->
 <div style="border:solid 1px ;  position: fixed;
 top: 0;
 left: 0;
 width: 100vw;
 height: 100vh;
 background-color: rgba(0, 0, 0, 0.5);
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 9999;
 ">
   <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title">Add new patient</h5>
       </div>
       <div class="modal-body">
         <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
           <div class="form-group">
             <input class="form-control" formControlName="firstname" type="text" placeholder="firstname" />
             <div *ngIf="addUserForm.controls['firstname'].errors && addUserForm.controls['firstname'].touched"
               class="text-danger">
               First name is required.
             </div>
           </div>
           <div class="form-group"> <input type="text" class="form-control" formControlName="lastname"
               placeholder="lastname">
             <div *ngIf="addUserForm.controls['lastname'].errors && addUserForm.controls['lastname'].touched"
               class="text-danger">
               Last name is required.
             </div>

           </div>
           <div class="form-group"> <input type="password" class="form-control" formControlName="password"
               placeholder="password">
             <div *ngIf="addUserForm.controls['password'].errors && addUserForm.controls['password'].touched"
               class="text-danger">
               Password is required.
             </div>
           </div>
           <div class="row">
             <div class="col-12 col-sm-6">
               <div class="form-group"> <input type="email" class="form-control" formControlName="email"
                   placeholder="email">
                 <div *ngIf="addUserForm.controls['email'].errors && addUserForm.controls['email'].touched"
                   class="text-danger">
                   Please enter a valid email address.
                 </div>
               </div>
             </div>
             <div class="col-12 col-sm-6">
               <div class="form-group">
                 <div class="dropdown bootstrap-select"><select class="selectpicker" title="Gender">
                     <option class="bs-title-option" value=""></option>
                     <option class="d-none">ROLE</option>
                     <option>Male</option>
                     <option>Female</option>
                   </select><button type="button" tabindex="-1" class="form-control dropdown-toggle bs-placeholder"
                     data-bs-toggle="dropdown" role="combobox" aria-owns="bs-select-1" aria-haspopup="listbox"
                     aria-expanded="false" title="Gender">
                     <div class="filter-option">
                       <div class="filter-option-inner">
                         <div class="filter-option-inner-inner">Gender</div>
                       </div>
                     </div>
                   </button>
                   <div class="dropdown-menu ">
                     <div class="inner show" role="listbox" id="bs-select-1" tabindex="-1">
                       <ul class="dropdown-menu inner show" role="presentation"></ul>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
           <div class="form-group">
             <input type="text" class="form-control" formControlName="adresse" placeholder="adresse" />
             <div *ngIf="addUserForm.controls['adresse'].errors && addUserForm.controls['adresse'].touched"
               class="text-danger">
               Adresse is required.
             </div>
           </div>
           <div class="modal-footer d-block">
             <div class="actions justify-content-between"><button type="button" class="btn btn-error"
                 data-bs-dismiss="modal">Cancel</button> <button type="submit" class="btn btn-info">Add patient</button>
             </div>
           </div>
         </form>
       </div>

     </div>
   </div>
 </div>
